log/
*.pid
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
*.idea
log/*.log
vendor/bundle
*/vendor/bundle
*tags

# YARD artifacts
.yardoc
_yardoc
doc/
.DS_Store
dump.rdb
